<strong>Olá, {{ student }} </strong>
<h3>Sua dúvida foi respondida pela <span style="color: magenta;">Gympoint</span></h3>
<p>Veja abaixo se ela resolve seus problemas:</p>
<p>
  <strong>Pergunta:</strong>
  {{ question }}
</p>
<p>
  <strong>Resposta:</strong>
  {{ answer }}
</p>

<small>
  Se a resposta não resolvou sua dúvida, mande outra pergunta com mais detalhes.
</small>
